<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981743908357-8q3bt4s63e481qpjh3pjfaq7efqeidkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981743908357-8q3bt4s63e481qpjh3pjfaq7efqeidkp</string>
	<key>API_KEY</key>
	<string>AIzaSyDUB5MpRlu22xpXnybwCDMKQ2ECoiRGAGA</string>
	<key>GCM_SENDER_ID</key>
	<string>981743908357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happytasks</string>
	<key>PROJECT_ID</key>
	<string>happytasks-9aa3d</string>
	<key>STORAGE_BUCKET</key>
	<string>happytasks-9aa3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981743908357:ios:db787b1f7d97b412174e6c</string>
	<key>DATABASE_URL</key>
	<string>https://happytasks-9aa3d.firebaseio.com</string>
</dict>
</plist>